@charset "UTF-8";
/* CSS Document */

body {
	background-image:url(images/colorbackground.gif);
}

.button {
	background-image: url(images/cartycoon.gif);
	background-size:cover;
	height: 200px; 
	width: 290px;
	border-radius: 10px;
	position: relative;
	top: 90px;
	left: 25%;
	font-size:x-large;
}
/*https://media.giphy.com/media/Dym2LTuxGJJSw/giphy.gif*/
/*.button:active {
	background-color: purple;
	/*images/cartycoon.gif*/

.bank {
	height: 200px;
	width: 290px;
	border-radius: 10px;
	position:relative;
	top: 90px;
	left: 25%
	
}
/*.bank:active {
	background-color: red;
}*/
.research {
	height: 200px;
	width: 290px;
	border-radius: 10px;
	position: relative;
	top: 90px;
	left: 25%;
}

/*.research:active {
	background-color: green;
}*/

#score {
color: #000000;	
border-radius: 24px;
text-align: right;
	}
#values {
	position: fixed;
}
	
	.car {
	background-image:url(images/spinningcar.gif);
	background-size: cover;
	height: 200px;
	width: 290px;
	border-radius: 10px;
	position: relative;
	top: 90px;
	left: 25%;
}
#researchnewcar{
	text-align: center;
vertical-align: middle;
line-height: 90px;   
	
}
#title {
	text-height:font-size;
	height:auto;
	font-size:50px;
	text-align: center
	
	
	
	}
	#bank{
		font-size:90px;
		text-align:center;
		}

/*.upgrade{
	
	background-image:url(images/car01.jpg);
	background-position:inherit;
	
	} */

#research {
	font-size: 70px;
	text-align:center
	}
	
	.upgrade {
	background-position:center;
	background-size:contain;
	background-origin:border-box;
	height: 200px; 
	width: 290px;
	border-radius: 10px;
	position: relative;
	top: 90px;
	left: 25%;
	font-size:x-large;
	
		
		}
		
		.home {
	height: 200px; 
	width: 290px;
	border-radius: 10px;
	position: relative;
	top: 90px;
	left: 25%;
	font-size:x-large;
	
			
			}
			
			.car1 {
background-image:url(images/car01.jpg);
			}
.car2 {
background-image:url(images/car02.jpg);
}

.car3 {
background-image:url(images/car03.jpg);
}

.car4 {
background-image:url(images/car04.jpg);
}

.car5 {
background-image:url(images/car05.jpg);
}

.car6 {
background-image:url(images/car06.jpg);
}

.car7 {
background-image:url(images/car07.jpg);
}

.car8 {
background-image:url(images/car08.jpg);
}

.newtools {
	background-image:url(images/hammer.gif);
	background-position:center;
	}.hammer {
}
.wrench {
	background-image:url(images/wrench.gif);
	background-position:center;
	background-size:contain;
}
