@charset "UTF-8";
/* CSS Document */

.button {
	background-image: url(images/cartycoon.gif);
	background-size:cover;
	height: 100px; 
	width: 190px;
	border-radius: 10px;
	position: relative;
	top: 90px;
	left: 25%;
}
/*https://media.giphy.com/media/Dym2LTuxGJJSw/giphy.gif*/
/*.button:active {
	background-color: purple;
	/*images/cartycoon.gif*/

.bank {
	height: 100px;
	width: 190px;
	border-radius: 10px;
	position: relative;
	top: 90px;
	left: 25%;
}
/*.bank:active {
	background-color: red;
}*/
.research {
	height: 100px;
	width: 190px;
	border-radius: 10px;
	position: relative;
	top: 90px;
	left: 25%;
}

/*.research:active {
	background-color: green;
}*/

#score {
color: #CB0003;	
border-radius: 24px;
text-align: right; 
	}
	
	#researchnewcar: {
	animation-name: pulse_animation;
	animation-iteration-count: infinite;
	height: 100px;
	
animation-duration: 120ms;

	}
	

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  
}

}
	@keyframes pulse_animation {
	0% { transform: scale(1.1); background-color: #FF0004}
	50% { transform: scale(1.5); background-color:#06FFF8}
	100% { transform: scale(1.1); background-color:#0035FF}
	
}
@keyframes slidein {
  from {
    margin-left: 50%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



	
	.car {
	background-image:url(images/spinningcar.gif);
	background-size: cover;
	height: 100px;
	width: 190px;
	border-radius: 10px;
	position: relative;
	top: 90px;
	left: 25%;
}
#researchnewcar{
	text-align: center;
vertical-align: middle;
line-height: 90px;   
	
}
#title {
	text-height:font-size;
	height:auto;
	font-size:50px;
	text-align: center
	
	
	
	}
